::selection { background: #f09bbb; }

body {
	margin: 0 !important;
	overflow: hidden;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12;
}

.fileinput {
	display: none;
}

.button {
	cursor: pointer;
	margin: 5px;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	border-radius: 5%;
	border: 1px solid black;
	box-shadow: 1px 1px grey;
}
.button:hover {
	background-color: #f09bbb;
	color: white;
	border: 1px solid black;
	border-radius: 5%;
	box-shadow: 1px 1px grey;
}

.toggleAllGrey {
	cursor: not-allowed;
	opacity: .6;
}

.permchecked {
	cursor: not-allowed;
	opacity: .6;
	pointer-events: none;
}

.graphicOptionsBox {
	max-width: inherit;
}

.uidropbutton {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18;
	height: 40px;
	width: inherit;
	min-width: inherit;
	border: 0px;
	background-color: #EBEBEB;
	text-align: left;
	text-decoration: none;
	padding: 3px;
	padding-left: 8px;
	cursor: pointer;
}

.buttonInterior {
	width: inherit;
	height: 30%;
}

.dropdownicoD {
	height: 23px;
	width: auto;
	align-self: right;
	margin-right: 5px;
}

.dropdownicoU {
	height: 23px;
	width: inherit;
	align-self: right;
	margin-right: 5px;
	transform: rotate(180deg);
}
.sortandfilt{
	padding: 5px;
	width: inherit;
	text-overflow: ellipsis;
}
.addLine {
	border: 1px solid black;
}

.filteroptions{
	border: 1px solid lightgrey;
	display: grid;
	grid-template-columns: 50% 50%;
	align-self: right;
	max-height: 100px;
	width: inherit;
	overflow-y: auto; 
	text-align: left;
	text-overflow: ellipsis;
}

.dropdownmenu {
	margin: 10px;
}

:focus {
	outline: 0;
}

.mainlogo{
	padding-top: 4px;
	z-index: -1;
}

.topbox{
	background-color: #EBEBEB;
	border-bottom: 2px solid black;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

.boxaroundlogo{
	width: 120px;
	height: 40px;
}

.selectedfile {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12;
	margin-left: 10px;
	width: 190px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.filename {
	font-style: italic;
}

.hamburgerimg {
	cursor: pointer;
	position: fixed;
	top: 7px;
	left: 7px;
}

.helpimg{
	cursor: pointer;
	position: fixed;
	top: 7px;
	right: 7px;
}

.camera{
	cursor: pointer;
	position: fixed;
	top: 7px;
	right: 45px;
}

.menucontainer {
	float: left;
	outline: 2px solid black;
	background-color: white;
	position: fixed;
	left: 0px;
	top: 42px;
	min-width: 250px;
	width: 250px;
	padding: 0px 0px 0px 0px;
	resize: horizontal;
	overflow-y: auto;
	overflow-x: hidden;
}

.helpmenucontainer {
	float: left;
	padding: 2px;
	outline: 2px solid black;
	background-color: white;
	position: fixed;
	right: 0px;
	top: 42px;
	max-width: 300px;
}


.dropdown-root {
	position: relative;
}

.dropdown-control {
	position: relative;
	overflow: hidden;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	color: #333;
	cursor: pointer;
	outline: none;
	padding: 8px 52px 8px 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	transition: all 200ms ease;
}

.dropdown-control:hover {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.dropdown-arrow {
	border-color: #999 transparent transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	content: ' ';
	display: block;
	height: 0;
	margin-top: -ceil(2.5);
	position: absolute;
	right: 10px;
	top: 14px;
	width: 0
}

.is-open .dropdown-arrow {
	border-color: transparent transparent #999;
	border-width: 0 5px 5px;
}

.dropdown-menu {
	background-color: white;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;
}

.dropdown-helpmenu {
	background-color: white;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;
}

.dropdown-cameramenu {
	background-color: white;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;
}

.dropdown-menu .dropdown-group > .dropdown-title{
	padding: 4px 5px;
	color: rgba(51, 51, 51, 1);
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 3px;
	margin-bottom: 3px;
}


.dropdown-helpmenu .dropdown-group > .dropdown-title{
	padding: 4px 5px;
	color: rgba(51, 51, 51, 1);
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 3px;
	margin-bottom: 3px;
}

.dropdown-cameramenu .dropdown-group > .dropdown-title{
	padding: 4px 5px;
	color: rgba(51, 51, 51, 1);
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 3px;
	margin-bottom: 3px;
}

.dropdown-option {
	box-sizing: border-box;
	color: rgba(51, 51, 51, 0.8);
	cursor: pointer;
	display: block;
	padding: 4px 5px;
}

.dropdown-option:last-child {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.dropdown-option:hover {
	background-color: #f09bbb;
	color: #333;
}

.dropdown-option.is-selected {
	background-color: #f09bbb;
	color: #333;
}

.dropdown-noresults {
	box-sizing: border-box;
	color: #ccc;
	cursor: default;
	display: block;
	padding: 8px 10px;
	margin-top: 3px;
	margin-bottom: 3px;
}
