body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12;
}

.fileinput {
	display: none;
}

.button {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12;
	box-shadow: 4px 4px 2px lightgrey;
	width: 200px;
	height: 35px;
	background-color: #f09bbb;
	border: 1px solid black;
	border-radius: 6px;
	color: white;
	margin: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.dropdownmenu {
	margin: 10px;
}

:focus {
	outline: 0;
}

.mainlogo{
	padding-top: 4px;
	z-index: -1;
}

.topbox{
	background-color: #EBEBEB;
	border-bottom: 2px solid black;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

.boxaroundlogo{
	width: 120px;
	height: 40px;
}

.notreadybutton {
	position: relative;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12;
	width: 200px;
	height: 35px;
	background-color: #f09bbb;
	border: none;
	border-radius: 6px;
	color: white;
	margin: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.6;
	cursor: not-allowed;
}

.selectedfile {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12;
	margin-left: 10px;
	width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.filename {
	font-style: italic;
}

.hamburgerimg {
	cursor: pointer;
	position: fixed;
	top: 7px;
	left: 7px;
}

.helpimg{
	cursor: pointer;
	position: fixed;
	top: 7px;
	right: 7px;
}

.cameraimg{
	cursor: pointer;
	position: fixed;
	top: 7px;
	center: 7px;
}

.menucontainer {
	float: left;
	padding: 2px;
	outline: 2px solid black;
	background-color: white;
	box-shadow: 10px 10px 5px lightgrey;
	position: fixed;
	left: 0px;
	top: 42px;
}

.helpmenucontainer {
	float: left;
	padding: 2px;
	outline: 2px solid black;
	background-color: white;
	box-shadow: 10px 10px 5px lightgrey;
	position: fixed;
	right: 0px;
	top: 42px;
}

.cameracontainer {
	float: left;
	padding: 2px;
	outline: 2px solid black;
	background-color: white;
	box-shadow: 10px 10px 5px lightgrey;
	position: fixed;
	right: 0px;
	top: 42px;
}

.dropdown-root {
	position: relative;
}

.dropdown-control {
	position: relative;
	overflow: hidden;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	color: #333;
	cursor: pointer;
	outline: none;
	padding: 8px 52px 8px 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	transition: all 200ms ease;
}

.dropdown-control:hover {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.dropdown-arrow {
	border-color: #999 transparent transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	content: ' ';
	display: block;
	height: 0;
	margin-top: -ceil(2.5);
	position: absolute;
	right: 10px;
	top: 14px;
	width: 0
}

.is-open .dropdown-arrow {
	border-color: transparent transparent #999;
	border-width: 0 5px 5px;
}

.dropdown-menu {
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;
}

.dropdown-helpmenu {
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;
}

.dropdown-camera {
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;
}

.dropdown-menu .dropdown-group > .dropdown-title{
	padding: 4px 5px;
	color: rgba(51, 51, 51, 1);
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 3px;
	margin-bottom: 3px;
}


.dropdown-helpmenu .dropdown-group > .dropdown-title{
	padding: 4px 5px;
	color: rgba(51, 51, 51, 1);
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 3px;
	margin-bottom: 3px;
}

.dropdown-camera .dropdown-group > .dropdown-title{
	padding: 4px 5px;
	color: rgba(51, 51, 51, 1);
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 3px;
	margin-bottom: 3px;
}

.dropdown-option {
	box-sizing: border-box;
	color: rgba(51, 51, 51, 0.8);
	cursor: pointer;
	display: block;
	padding: 4px 5px;
}

.dropdown-option:last-child {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.dropdown-option:hover {
	background-color: #f09bbb;
	color: #333;
}

.dropdown-option.is-selected {
	background-color: #f09bbb;
	color: #333;
}

.dropdown-noresults {
	box-sizing: border-box;
	color: #ccc;
	cursor: default;
	display: block;
	padding: 8px 10px;
	margin-top: 3px;
	margin-bottom: 3px;
}
